node-red/casaldaia-logging-flow.json
[
  {
    "id": "tab_casaldaia_log",
    "type": "tab",
    "label": "Casaldaia - Logging accensione",
    "disabled": false,
    "info": "Logga su CSV i dati pubblicati dal PLC sul topic plc/dati.\nUna riga per messaggio, timestamp node-red ISO + campi telemetria.\nCampi attesi (vedi gesMqtt): tCald,tFumi,tMand,pFi,mc,mcE,cp,rf,vent,io"
  },
  {
    "id": "mqtt_in_dati",
    "type": "mqtt in",
    "z": "tab_casaldaia_log",
    "name": "plc/dati",
    "topic": "plc/dati",
    "qos": "0",
    "datatype": "json",
    "broker": "broker_casaldaia",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 120,
    "wires": [["fn_csv", "dbg_dati"]]
  },
  {
    "id": "fn_csv",
    "type": "function",
    "z": "tab_casaldaia_log",
    "name": "build CSV row",
    "func": "const d = msg.payload || {};\nconst ts = new Date().toISOString();\nconst cols = [ts, d.tCald, d.tFumi, d.tMand, d.pFi, d.mc, d.mcE, d.cp, d.rf, d.vent, d.io];\nmsg.payload = cols.join(',');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 120,
    "wires": [["file_csv"]]
  },
  {
    "id": "file_csv",
    "type": "file",
    "z": "tab_casaldaia_log",
    "name": "casaldaia_log.csv",
    "filename": "/data/casaldaia_log.csv",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 600,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "dbg_dati",
    "type": "debug",
    "z": "tab_casaldaia_log",
    "name": "dati",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 350,
    "y": 200,
    "wires": []
  },
  {
    "id": "cmt_header",
    "type": "comment",
    "z": "tab_casaldaia_log",
    "name": "Header CSV: ts,tCald,tFumi,tMand,pFi,mc,mcE,cp,rf,vent,io",
    "info": "mc=fase mainCycle (5=cmdWait,10=initLoad,15=flameWait,20=initBurn,25=noVentIgn,30=ventRstrt,35=pwrSel,45=stableBurn...)\nmcE=ms trascorsi nella fase corrente\ncp=fase pwrMgr coclea, rf=fase refill\nvent=ventDuty %% (inverso)\nio bitmask: 1=cocleaEst 2=cocleaBruc 4=candeletta 8=ventilazione 16=livelloPelletOK 32=comandiInseriti",
    "x": 250,
    "y": 50,
    "wires": []
  },
  {
    "id": "broker_casaldaia",
    "type": "mqtt-broker",
    "name": "mosquitto locale",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "closeTopic": "",
    "willTopic": ""
  }
]
